@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

:root{
  --cor-1: #F23545;
  --cor-2: #158FBF;
  --cor-3: #03A64A;
  --cor-4: #f4a646;
  --cor-preta: #0D0D0D;
  --cor-branca: #fff;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track { /*define o estilo da área da scrollbar onde o conteúdo não está visível.*/
    background-color: #ecf0f1;
  }
  
  ::-webkit-scrollbar-thumb { /*define o estilo do polegar (a parte que você arrasta) da scrollbar.*/
    background: var(--cor-preta);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor-2);
  }

html{
  scroll-behavior: smooth;
  scroll-padding-top: 12em;
}

body{
  background-color: #ecf0f1;
}

header, .hero-section, .cursos-section, footer{
  border-color: var(--cor-preta);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 1.25rem;
}

header{
  background-color: #011c27;
}

header h1{
  color: var(--cor-branca);
  font-size: 1.8rem;
  display: block;
  text-align: center;
  margin: 1rem auto;
  user-select: none;
}

header nav{
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto 0;
}

header nav a{
  color: var(--cor-1);
  font-size: 1.25rem;
  padding: .8rem;
  font-weight: bold;
  text-align: center;
}

.btn{
  background-color: var(--cor-1);
  color: var(--cor-branca);
  border: 2px solid var(--cor-preta);
  box-shadow: 4px 4px 0 var(--cor-preta);
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  padding: .75rem 1rem;
  max-width: 14rem;
  text-align: center;
  text-transform: uppercase;

  transition: all .2s;
}

.btn:hover{
  background-color: var(--cor-2);
  color: var(--cor-branca);
}

.hero-section{
  padding-right: 0;
  padding-bottom: 16rem;
}

.hero-section img{
  display: block;
  margin: 1.25rem 0 0 auto;
  max-width: 100%;
}

.hero-section p{
  font-size: 1.25rem;
  padding-right: 1.25rem;
}

.cursos-section{
  padding-bottom: 8rem;
}

.cursos-section h2+a{
  background-color: #03A64A;
}

.zap{
  color: var(--cor-branca);
  display: inline-block;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.card{
  color: var(--cor-branca);
  border: 2px solid var(--cor-preta);
  box-shadow: 4px 4px 0 var(--cor-preta);
  max-width: 17rem;
  /* height: 18rem; */
  padding: 2rem;
}

.vermelho{
  background-color: var(--cor-1);
}

.azul{
  background-color: var(--cor-2);
}

.amarelo{
  background-color: var(--cor-4);
}

.verde{
  background-color: var(--cor-3);
}

.card:nth-child(odd){
  align-self: end;
}

.card img{
  height: 150px;
  margin-top: 1rem;
}

.card strong{
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0;
}

i{
  display: block;
  font-size: 2.5rem;
  color: var(--cor-branca);
  width: fit-content;
  margin-right: auto;
}

h1{
  font-size: 3rem;
  line-height: 105%;
}

h2{
  font-size: 2.5rem;
}

.decoration{
  display: block;
  position: relative;
}

.decoration::after{
  content: '';
  background: url(img/three-dashes.svg);
  position: absolute;
  top: -10px;
  right: 100px;
  height: 36px;
  width: 40px;
}

.hero-section .btn{
  position: relative;
}

.hero-section .btn::after{
  content: '';
  background: url(img/arrow-curve.svg);
  position: absolute;
  height: 48px;
  width: 132px;
  top: 70px;
  right: -85px;
}

/* rodapé */

footer{
  border-bottom: 0;
  padding: 3rem 1.25rem 3rem;
}

footer nav a{
  display: block;
  color: var(--cor-1);
  font-size: 1rem;
  padding: .8rem;
  font-weight: bold;
  width: fit-content;
  text-decoration: underline;
}

footer nav i{
  font-size: 1.5rem;
  display: inline-block;
  color: var(--cor-preta);
}

footer nav a:hover{
  color: var(--cor-preta);
}

footer address{
  font-weight: bold;
  font-style: normal;
}

footer .map{
  color: var(--cor-preta);
}

.map:hover{
  color: var(--cor-2);
}

/* utilidades */

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.texto-primario{
  color: var(--cor-1);
}

.texto-center{
  text-align: center;
}

/* slider */

.content{
  display: none;
}

.navigation{
  display: none;
}