:root{
  --cor-1: #F23545;
  --cor-2: #158FBF;
  --cor-3: #03A64A;
  --cor-4: #f4a646;
  --cor-escura: #011c27;
  --cor-branca: #fff;
}
  
  
  @media screen and (min-width:640px){
    header nav{
      display: block;
      text-align: center;
    }
  
    .cards{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .card:nth-child(odd){
      margin-top: 1rem;
    }
  }
  
  @media screen and (min-width:768px) {

    header{
      position: fixed;
      width: 100%;
      z-index: 1;
    }

    header div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 70px;
    }
  
    header h1, header nav, header .btn{
      margin: 0;
    }

    header nav a{
      position: relative;
      color: var(--cor-1);
      border-radius: 5px;

      transition: all .2s;
    }
  
    header nav a:hover{
      color: var(--cor-branca);
      font-size: 1.35rem;
    }

    header nav a::after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: ' ';
      width: 0%;
      height: 2px;
      border-radius: 10px;
      background-color: var(--cor-1);

      transition: all .3s ease-in-out;
    }

    header nav a:hover::after{
      width: 100%;
    }
  }
  
  @media screen and (min-width:1152px) {
    header img{
      width: 20%;
      padding: 0;
    }

    .container{
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 1152px;
    }
  
    .row-reverse{
      flex-direction: row-reverse;
    }

    .decoration::after{
    content: '';
    background: url(img/three-dashes.svg);
    position: absolute;
    top: -10px;
    right: 155px;
    height: 36px;
    width: 40px;
}
  
    footer .sobre{
      flex: 2;
    }
  
    .sobre p{
      font-size: 1.25rem;
      max-width: 25rem;
    }
  
    footer nav{
      flex: 1;
    }

    .content{
      display: block;
      margin: auto;
      width: 45%;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.348);
}

    .content .imagens img{
        height: 100%;
        width: 100%;
    }

    .zoomable.zoomnaimagem{
      transform: scale(1.5);
      transition: transform .2s ease-in-out;

      cursor: zoom-in;
    }

    /* .zoomable:hover{
      transform: scale(1.2);
    } */

    .navigation{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bar{
        width: 20px;
        height: 20px;
        border: 3px solid var(--cor-escura);
        margin: 8px;
        border-radius: 50%;
        cursor: pointer;

        transition: all .2s;
    }

    .bar:hover{
        background-color: var(--cor-2);
    }

    input{
        display: none;
    }

    .slides{
        display: flex;
        width: 500%;
        height: 100%;
    }

    .imagens{
        width: 20%; /* cada imagem vai ter 20%, totalizando 100% */
        transition: .6s;
    }

    #slide1:checked ~ .img1{
        margin-left: 0;
    }
    #slide2:checked ~ .img1{
        margin-left: -20%;
    }
    #slide3:checked ~ .img1{
        margin-left: -40%;
    }
    #slide4:checked ~ .img1{
        margin-left: -60%;
    }
    #slide5:checked ~ .img1{
        margin-left: -80%;
    }
}